main header {
  .star {
    background-image: url('../img/star.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 26px;
    position: absolute;
    width: 26px;
  }

  .star-1 {
    top: (random($sky-height - 200) + 100) + px;
    left: (random(1800) + 50) + px;
  }

  .star-2 {
    top: (random($sky-height - 200) + 100) + px;
    left: (random(1800) + 50) + px;
  }

  .star-3 {
    top: (random($sky-height - 200) + 100) + px;
    left: (random(1800) + 50) + px;
  }

  @include media-breakpoint-down(xxl) {
    .star-1 {
      top: (random($sky-height - 200) + 100) + px;
      left: (random(1500) + 50) + px;
    }

    .star-2 {
      top: (random($sky-height - 200) + 100) + px;
      left: (random(1500) + 50) + px;
    }

    .star-3 {
      top: (random($sky-height - 200) + 100) + px;
      left: (random(1500) + 50) + px;
    }
  }

  @include media-breakpoint-down(xl) {
    .star-1 {
      top: (random($sky-height - 200) + 100) + px;
      left: (random(1050) + 50) + px;
    }

    .star-2 {
      top: (random($sky-height - 200) + 100) + px;
      left: (random(1050) + 50) + px;
    }

    .star-3 {
      top: (random($sky-height - 200) + 100) + px;
      left: (random(1050) + 50) + px;
    }
  }

  @include media-breakpoint-down(lg) {
    .star-1 {
      top: (random($sky-height - 200) + 100) + px;
      left: (random(900) + 50) + px;
    }

    .star-2 {
      top: (random($sky-height - 200) + 100) + px;
      left: (random(900) + 50) + px;
    }

    .star-3 {
      top: (random($sky-height - 200) + 100) + px;
      left: (random(900) + 50) + px;
    }
  }

  @include media-breakpoint-down(md) {
    .star-1 {
      top: (random($sky-md-height - 200) + 100) + px;
      left: (random(650) + 50) + px;
    }

    .star-2 {
      top: (random($sky-md-height - 200) + 100) + px;
      left: (random(650) + 50) + px;
    }

    .star-3 {
      top: (random($sky-md-height - 200) + 100) + px;
      left: (random(650) + 50) + px;
    }
  }

  @include media-breakpoint-down(sm) {
    .star-1 {
      top: (random($sky-md-height - 200) + 100) + px;
      left: (random(300) + 50) + px;
    }

    .star-2 {
      top: (random($sky-md-height - 200) + 100) + px;
      left: (random(300) + 50) + px;
    }

    .star-3 {
      top: (random($sky-md-height - 200) + 100) + px;
      left: (random(300) + 50) + px;
    }
  }

  .star-1,
  .star-2,
  .star-3 {
    &.star-sm {
      top: (random($sky-height-sm - 200) + 100) + px;
    }
  }
}
