.page-blog-index {
  @include media-breakpoint-up(lg) {
    max-width: 880px;
  }

  .accordion {
    > .card {
      border: 0;
      border-bottom: $gray 1px solid !important;
    }
  }

  .card-header {
    background-color: transparent;
    color: $text-dark-color;
    cursor: pointer;

    h2 {
      .btn {
        color: $text-dark-color;
        font-size: 22px;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }
      }

      time {
        border: 2px solid transparent;
        color: $text-primary-color;
        font-size: 1rem;
        line-height: 2;
        padding: 0.375rem 0.75rem;
      }

      i {
        font-size: 1.2rem;
        line-height: 3rem;
      }
    }

    &:not(.collapsed) .fa-plus {
      display: none;
    }

    &.collapsed {
      .fa-times {
        display: none;
      }
    }
  }

  .card-body {
    > a {
      display: block;
      position: relative;

      &:hover {
        text-decoration: none;
      }

      .text {
        color: $text-dark-color;
      }

      .author,
      .detail-link {
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        right: 0;
      }

      .author {
        top: -.6rem;
        text-transform: uppercase;
      }

      .detail-link {
        border-bottom: 1px solid $red;
        bottom: 0;
        line-height: 1;

        &:after {
          background-image: url(../img/rocket.png);
          background-size: cover;
          bottom: -3px;
          content: ' ';
          height: 6.3px;
          position: absolute;
          right: -9px;
          width: 10.4px;
        }
      }
    }

  }
}

.page-blog-show {
  article {
    h1 {
      font-size: 22px;
    }
  }

  .share,
  .tags {
    > strong {
      display: inline-block;
      min-width: 100px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    .badge {
      background: transparent;
      border: 1px solid $gray;
      border-radius: 15px;
      color: $gray;
      font-weight: $font-weight-normal;
      transition: 0.5s ease;

      &:hover {
        border-color: $black;
        color: $black;
      }
    }

    i {
      color: $gray;
      transition: 0.5s ease;

      &:hover {
        color: $black;
      }
    }
  }

  .latest-blogs {
    h3 {
      font-size: 1.2rem;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    a, a:hover {
      text-decoration: none;
    }
  }

  .latest-blog {
    color: $text-dark-color;

    h3 {
      color: $text-darker-color;
      font-size: 1rem;
      font-weight: $font-weight-bold;
    }
  }
}
