.contact-page {
  > .intro-text {
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    width: 80%;
  }

  .contact {
    .fa,
    .fal {
      font-size: 26px;
    }

    .fab {
      font-size: 30px;
    }

    .lh-fix {
      line-height: 32px;
    }

    .vertical-line {
      border-right: 1px solid black;
      margin-left: -9px;
      margin-right: 4px;
    }
  }
}
