.flip-container {
	perspective: 1000px;

  &:hover .flipper,
  &.hover .flipper {
		transform: rotateY(180deg);
	}

  &,
  .front,
  .back {
    height: 100%;
    width: 100%;
  }

  .flipper {
    position: relative;
  	transition: 0.6s;
  	transform-style: preserve-3d;
  }

  .front,
  .back {
  	backface-visibility: hidden;
  	position: absolute;
  	top: 0;
  	left: 0;
  }

  .front {
  	z-index: 2;
  	/* for firefox 31 */
  	transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);
  }

  .flipper-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include media-breakpoint-down(lg) {
    &:hover .flipper,
    &.hover .flipper {
  		transform: none;
  	}

    .flipper {
      transform-style: unset;
    }

    .front {
      z-index: 0;
    }

    .flipper-text {
      bottom: 0;
      display: block;
      height: auto;
      top: auto;
      z-index: 1;
    }

    .back {
      transform: none;
    }
  }
}
