.home-card {
  img {
    max-height: 180px;
  }

  p {
    line-height: 1.3;
  }

  h4 {
    border-bottom: 2px solid $red;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;

    a {
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.home-banner {
  background-color: #000002;
  background-image: url('../img/home-banner.png');
  background-size: cover;
  height: 380px;
  margin-bottom: 10vh;
  position: relative;

  @include media-breakpoint-down(sm) {
    height: 530px;
  }

  .image {
    position: absolute;
    bottom: 0;
    left: 10vw;
    max-width: 90vw;
  }

  .home-banner-content {
    color: $white;
    font-size: 20px;
    font-weight: $font-weight-light;
    line-height: 1.4;
    margin-left: 60vw;
    padding-top: 50px;
    width: 30vw;

    h3 {
      font-size: 32px;
      font-weight: $font-weight-normal;
    }

    @include media-breakpoint-down(sm) {
      width: 80vw;
      margin-left: 10vw;
      padding-top: 90px;
    }
  }
}

.home-portfolio {
  .subtitle {
    font-weight: normal;
    max-width: 400px;
  }
}
