body {
  font-family: 'Helvetica Neue', 'Open Sans', 'Liberation Sans', sans-serif;
  font-weight: 300;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}

header {
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.navbar-ba {
  background: transparent;
  padding-top: 20px;
  position: absolute;

  .navbar-brand img {
    height: 60px;
  }

  .navbar-nav .nav-link {
    border-right: .5px solid white;
    color: $white;
    font-weight: 600;
    padding-left: 1vw;
    padding-right: 1vw;

    &.active {
      color: $red;
    }
  }

  @include media-breakpoint-up(md) {
    padding-left: 40px;
    padding-top: 50px;

    .navbar-brand {
      padding: 0;

      img {
        height: 85px;
      }
    }

    .navbar-nav .nav-link {
      padding-bottom: 0;
      padding-top: 0;

      &.no-border {
        border: 0;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .navbar-collapse {
      background: rgba(0, 0, 0, 0.9);
    }
  }

}

main {
  // overflow: hidden;

  header {
    .sky-bg,
    .sky-sm-bg {
      background-color: #000002;
      background-image: url('../img/home-bg.jpg');
      background-size: cover;
      height: $sky-md-height;

      @include media-breakpoint-up(md) {
        height: $sky-height;
      }
    }

    .sky-sm-bg {
      height: 200px;

      @include media-breakpoint-up(md) {
        height: $sky-height-sm;
      }
    }

    .fog-bg {
      background-image: url('../img/bg-fog.svg');
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: 2020px;
      height: 500px;
      left: -99px;
      position: absolute;
      top: 80px;
      width: calc(100% + 100px);

      @include media-breakpoint-up(sm) {
        height: 550px;
        left: -43px;
        top: 128px;
      }

      @include media-breakpoint-up(md) {
        left: -58px;
      }

      @include media-breakpoint-up(lg) {
        left: -43px;
      }
    }

    .fog-sm-bg {
      background-image: url('../img/bg-sm-fog.svg');
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: 2020px;
      height: 200px;
      left: -100.5px;
      position: absolute;
      top: 75px;
      width: calc(100% + 100px);

      @include media-breakpoint-up(sm) {
        left: -43.5px;
        top: 127px;
      }

      @include media-breakpoint-up(md) {
        left: -58.5px;
      }

      @include media-breakpoint-up(lg) {
        left: -43.5px;
      }
    }

    .header-text-container {
      color: $white;
      font-size: calc(2.5vh + 2.5vw);
      left: 0;
      position: absolute;
      right: 0;
      top: 200px;

      // @include media-breakpoint-up(md) {
      //   font-size: 5vh;
      // }

      .sub-title {
        font-size: calc(1.5vh + 1.5vw);

        // @include media-breakpoint-up(md) {
        //   font-size: 3.5vh;
        // }
      }
    }
  }
}

footer {
  background-image: url('../img/bg-footer.jpg');
  background-color: #874d02;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  padding-top: 10rem;

  a {
    color: $white;
  }

  .p-3 {
    padding-right: 0.25rem !important;
  }

  .logo {
    max-width: 70%;
  }

  .contact {
    font-weight: $font-weight-normal;

    i {
      font-size: 1.5rem;
    }

    .vertical-line {
      border-right: 1px solid $white;
      margin-left: -21px;
      margin-right: 4px;
    }
  }

  h5 {
    font-size: 26px;
    font-weight: $font-weight-bold;
  }

  .footer-menu {
    font-weight: $font-weight-normal;
    padding: 0;
    font-size: 18px;

    > li {
      list-style: none;
      line-height: 2;
    }
  }

  .footer-two {
    .fab {
      font-size: 1.4rem;
      padding: .8rem;
    }
  }
}

hr {
  background-position: center;
  background-image: url('../img/line-break.svg');
  background-repeat: no-repeat;
  border: 0;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

strong {
  font-weight: 600;
}

blockquote {
  &:before {
    content: "\F10D";
    float: left;
    font-family: "Font Awesome 5 Free";
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.2;
    margin-right: 1rem;
    text-rendering: auto;
  }
}

form:not(.not-custom) {
  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="password"],
  input[type="email"],
  textarea {
    &, &.form-control {
      background: transparent;
      border: 0;
      border-bottom: 1px solid #999;
      border-radius: 0;
      padding-left: 130px;
      width: 100%;

      &.no-padding {
        padding-left: 1px;
      }

      &:focus {
        border-color: #999;
        box-shadow: none;
      }
    }
  }

  &.form-dark {
    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="password"],
    input[type="email"],
    textarea {
      &,
      &::placeholder {
        color: $white;
      }
    }
  }

  & {
    width: 100%;
  }
}

.input-group {
  .input-group-prepend {
    position: absolute;
    z-index: 4;

    label {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
}

.btn-primary {
  border: 0;
  border-bottom: 2px solid #c90505;
  border-top: 2px solid #e06161;
  font-weight: $font-weight-bold;
  position: relative;

  &.btn-sm {
    border-bottom-width: 1px;
    border-top-width: 1px;
  }

  &.btn-lg {
    border-bottom-width: 3px;
    border-top-width: 3px;
  }

  .fa-chevron-double-right,
  .fa-chevron-double-left {
    color: black;
    line-height: $btn-line-height-lg;
    opacity: .15;
    position: absolute;
  }

  .fa-chevron-double-right {
    left: 10%;
  }

  .fa-chevron-double-left {
    right: 10%;
  }

  &:hover {
    background: #efefef;
    border-bottom-color: #c5c9c9;
    border-top-color: #f5f5f5;
    color: #c5c9c9;
  }
}

.container.container-reading {
  @include media-breakpoint-up(lg) {
    max-width: 800px;
  }
}

.text-sm {
  font-size: 14px;
}

a.go-to-top {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  bottom: 1.5rem;
  color: $text-primary-color;
  font-size: .9rem;
  font-weight: $font-weight-normal;
  height: 80px;
  line-height: 1;
  opacity: 0;
  padding: 10px;
  position: fixed;
  right: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .3s ease, opacity .5s ease-out;
  width: 80px;
  z-index: 100;

  &.visible {
    opacity: 1;
  }

  img {
    width: 36px;
    height: 36px;
  }

  @include media-breakpoint-up(lg) {
    bottom: 3.5rem;
  }
}

.fas {
  font-family: 'Font Awesome 5 Free';
}

ul.ba-list {
  li {
    list-style: none;
    position: relative;
    margin-bottom: .5rem;

    &:before {
      background-image: url("../img/rocket.png");
      background-position-y: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: ' ';
      position: absolute;
      left: -26px;
      line-height: 1.6;
      top: 0;
      white-space: pre;
      width: 18px;
    }
  }
}

main {
  h1, h2, h3, h4, h5, h6, p strong {
    color: $text-dark-color;
  }
}
