.portfolio-index {
  position: relative;

  > .categories {
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 150px;
    position: sticky;
    top: 10px;
    text-align: center;
    z-index: 10;

    .category-item {
      display: inline-block;
      text-transform: uppercase;
      margin-left: 2vw;
      margin-right: 2vw;

      img, svg {
        width: 36px;
        height: 36px;

        @include media-breakpoint-up(md) {
          width: 55px;
          height: 55px;
        }
      }

      &:last-of-type {
        @include media-breakpoint-down(md) {
          margin-right: 5vw;
        }
      }

      a {
        color: $text-dark-color;
        transition: ease .5s;

        @include media-breakpoint-down(md) {
          font-size: 0.9rem;
        }

        svg .cls-1 {
          transition: ease .5s;
        }

        &.active {
          color: $red;

          svg .cls-1 {
            fill: $red;
          }
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .portfolio-animated-enter, .portfolio-animated-leave-to {
    opacity: 0;
  }

  .portfolio-animated-leave-active {
    position: absolute;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.portfolio-item-container {
  display: block;
  margin-bottom: 30px;
  transition: all 1s;

  &, &:hover, &:active {
    color: $black;
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
  }

  .description {
    font-size: 20px;
    line-height: 1.2;
  }

  .categories {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 60px;
  }
}

.portfolio-mixed-container {
  display: block;
  margin-bottom: 30px;

  .portfolio-item {
    position: relative;
  }

  &, &:hover, &:active {
    &, & * {
      color: $white;
    }
  }

  .info {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;

    .categories {
      font-weight: normal;
    }
  }
}

@include media-breakpoint-up(xl) {
  .portfolio-item-container {
    .categories {
      margin-top: 70px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .portfolio-item-container {
    .title {
      font-size: 26px;
      font-weight: bold;
      line-height: 1.2;
    }

    .description {
      font-size: 16px;
      line-height: 1.2;
    }

    .categories {
      font-size: 13px;
      line-height: 1.2;
      margin-top: 20px;
    }
  }

  .flipper-text {
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.8);
    color: $white;
  }

  > .categories {
    margin-bottom: 0;

    .category-item {
      margin-bottom: 5vh;
      margin-left: 0 !important;
      width: 32%;
    }
  }
}

.portfolio-show {
  .meta-box {
    margin-bottom: 30px;

    .meta-box-title {
      color: $text-light-color;
      font-size: 20px;
      font-weight: bold;
    }

    .meta-box-content {
      font-size: 18px;
      font-weight: normal;

      &.meta-box-content-link {
        width: 100%;

        a {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
      }
    }
  }

  .user-box {
    > .user-box-image {
      > img {
        height: 98px;
        width: auto;
      }
    }

    .user-box-name {
      font-size: 16px;
    }

    .user-box-title {
      color: $text-light-color;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .slider-container {
    cursor: pointer;
    position: relative;

    .arrow {
      background-image: url('../img/arrow-red.svg');
      height: 85px;
      position: absolute;
      top: calc(50% - 40px);
      width: 38px;
    }

    .arrow-left {
      transform: rotate(180deg);
      left: 0;
    }

    .arrow-right {
      right: 0;
    }

    .media-count {
      background: #e3342fee;
      border: #333;
      border-radius: 3px;
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
      color: #fff;
      padding: 8px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .pswp {
    .pswp__button--arrow--right::before,
    .pswp__button--arrow--left::before {
      background: url(/images/arrow-red.svg?424a4d2ce6cd7fa478d6a8537cb45a73);
      height: 85px;
      width: 38px;
    }

    .pswp__button--arrow--left::before {
      transform: rotate(180deg);
    }
  }

  .video-container {
    video {
      height: auto;
      width: 100%;
    }
  }

  .portfolio-body {
    iframe {
      display: block;
      height: 600px;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
      max-height: 80vh;
      max-width: 100%;
      width: 800px;
    }
  }

  .portfolio-banner {
    background-color: #04010a;
    background-image: url(../img/portfolio-banner-bg.png);
    background-size: cover;
    height: 200px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    width: 100vw;

    .ufo {
      position: absolute;
      bottom: 10px;
      left: 10vw;
    }

    .button-container {
      bottom: 0;
      position: absolute;
      right: 10vw;
      top: 0;

      @include media-breakpoint-down(xs) {
        left: 0;
        right: 0;
        text-align: center;
      }

      .row {
        height: 100%;
      }

    }
  }

  @include media-breakpoint-up(xl) {
    padding-left: 70px;
    padding-right: 70px;

    .portfolio-banner {
      margin-left: -70px;
      margin-right: -70px;
    }
  }
}
