.services {
  margin-bottom: 7rem;
  margin-top: 5rem;
  position: relative;
}

.services-banner {
  background: url('../img/services-banner.png');
  background-size: cover;
  position: relative;
  padding-bottom: 5rem;

  > .image {
    position: absolute;
    bottom: 0;
    right: 5vw;
    max-width: 90vw;
  }

  .services-banner-content {
    color: $text-gray-color;

    @include media-breakpoint-down(sm) {
      width: 95vw;
      margin-left: 2.5vw;
      padding-top: 90px;
    }
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 10rem;
  }
}
