<template>
  <div class="portfolio-item flipper" v-bind:class="['portfolio-item-' + item.view_type_id]">
    <img v-bind:src="item.thumbnail ? item.thumbnail.url : item.media[0].url_thumb" class="img-fluid invisible">
    <div class="front flipper-image">
      <img v-bind:src="item.thumbnail ? item.thumbnail.url : item.media[0].url_thumb" class="img-fluid">
    </div>
    <div class="back flipper-text">
      <div>
        <div class="title">
          {{ item.title }}
        </div>
        <div class="description">
          {{ item.description }}
        </div>
        <div class="categories">
          {{ getCategoriesForItem(item) }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: Object,
  },

  mounted() {
    // console.log('PortfolioItemImageComponent mounted.', this.item)
  },

  methods: {
    getCategoriesForItem(item) {
      const list = [];

      for (const category of item.work_categories) {
        list.push(category.title);
      }

      return list.join(' | ');
    },
  }
}
</script>
