<template>
<div class="portfolio-index mt-5" v-bind:class="[containerCssClass]">
  <div class="categories" v-if="showCategories">
    <div class="category-item">
      <a
        href="#"
        v-on:click="handleCategoryClick"
        v-bind:class="{ active: categoriesSelected.length === 0 }"
      >
        <img data-original="img/categories-all.svg" class="svg"><br>TÜMÜ
      </a>
    </div>
    <div class="category-item mb-2 mt-2" v-for="category in categories">
      <a
        href="#"
        v-on:click="handleCategoryClick($event, category)"
        v-bind:class="{ active: categoriesSelected.indexOf(category.id) !== -1 }"
      ><img
        v-bind:data-original="category.icon.url_thumb"
        v-bind:src="category.icon.url_thumb.indexOf('.svg') !== -1 ? '' : category.icon.url_thumb"
        v-bind:class="{ svg: category.icon.url_thumb.indexOf('.svg') !== -1 }"
      ><br>
        {{ category.title }}
      </a>
    </div>
  </div>

  <transition-group name="portfolio-animated" tag="div" class="row">
    <a
      v-bind:href="item.url"
      class="col-12 col-md-6 col-lg-4 portfolio-item-container flip-container"
      v-for="item in portfolioComputed"
      v-bind:key="item.id"
    >
      <portfolio-item-image-component
        v-if="item.view_type_id === 'image' || item.view_type_id === 'video'"
        v-bind:item="item"
      ></portfolio-item-image-component>
      <portfolio-item-text-component
        v-if="item.view_type_id === 'text'"
        v-bind:item="item"
      ></portfolio-item-text-component>
    </a>
  </transition-group>
</div>
</template>

<script>
export default {
  props: {
    portfolioJson: String,
    showCategories: Boolean,
    containerClass: {
      type: String,
      default: 'container-fluid'
    }
  },

  mounted() {
    $('#portfolioListDummy').remove();

    const list = eval(this.portfolioJson);
    for (const item of list) {
      item.shown = true;
    }
    this.portfolioList = list;

    const svgImages = document.querySelectorAll('img.svg');

    for(const img of svgImages) {
      window.axios.get(img.dataset.original)
        .then((response) => {
          const svg = window.jQuery(response.data);
          window.jQuery(img).replaceWith(svg);
        });
    }
  },

  data() {
    return {
      portfolioList: [],
      categories: window.categories,
      categoriesSelected: [],
      containerCssClass: this.containerClass,
    };
  },

  computed: {
    portfolioComputed() {
      return this.portfolioList.filter((item) => {
        if(this.categoriesSelected.length === 0) {
          // do not run the filter if no category is selected
          return true;
        }

        for (const category of item.work_categories) {
          if(this.categoriesSelected.indexOf(category.id) !== -1) {
            return true;
          }
        }

        return false;
      });
    }
  },

  methods: {
    handleCategoryClick($event, category) {
      $event.preventDefault();

      if(!category) {
        this.categoriesSelected = [];
        return;
      }

      const index = this.categoriesSelected.indexOf(category.id);
      if (index === -1) {
        this.categoriesSelected.push(category.id);
      } else {
        this.categoriesSelected.splice(index, 1);
      }
    },
  },
}
</script>
