body {
  font-family: 'Open Sans', 'Liberation Sans', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}

.navbar-admin {
  background-image: url('../../img/home-bg.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 20vw;

  ul {
    padding: 0;

    > li {
      list-style: none;

      > a {
        color: $text-gray-color;
        display: block;
        padding: .5rem 1.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid black;
        }

        &:hover,
        &:active,
        &.active {
          background: rgb(56, 56, 56);
          text-decoration: none;
        }
      }

      &.active > a {
        background: $red;
      }
    }
  }
}

main {
  margin-left: 20vw;
}

.img-box {
  position: relative;

  .btn {
    position: absolute;
    right: 20px;
    bottom: 5px;
  }
}

blockquote {
  &:before {
    content: "\F10D";
    float: left;
    font-family: "Font Awesome 5 Free";
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.2;
    margin-right: 1rem;
    text-rendering: auto;
  }
}

.matomo-iframe {
  border: 0;
  min-height: 80vh;
}
